
{{#each concerts as |concert|}}

  <tr data-id="{{concert.id}}">
    {{#if concert.saved}}
      <td data-id="{{concert.id}}"><button id="saveConcert" class="btn btn-default saveConcert disabled" data-target="#saveConcert">Saved</button></td>
      </td>
    {{else}}
      <td data-id="{{concert.id}}"><button id="saveConcert" class="btn btn-default saveConcert" data-target="#saveConcert">Save</button></td>
      </td>
    {{/if}}
    <td class='cname'>{{concert.concert_name}}</td>
    <td class='cdate'>{{concert.concert_date}}</td>
    <td class='ctime'>{{concert.concert_time}}</td>
    <td class='cartist'>{{concert.artist}}</td>
    <td class='cvenue'>{{concert.venue}}</td>
    <td class='caddress'>{{concert.venue_address}}</td>
    <td class='ccost'>{{concert.cost}}</td>
  </tr>

{{/each}}
