{{#each myconcerts as |myconcert|}}

  <tr data-id="{{myconcert.id}}">
    <td data-id="{{myconcert.id}}"><button id="deleteConcert" class="btn btn-default deleteConcert" data-target="#deleteConcert">Delete From My List</button></td>
    <td>{{concert.id}}</td>
    <td class='cname'>{{concert.concert_name}}</td>
    <td class='cdate'>{{concert.concert_date}}</td>
    <td class='ctime'>{{concert.concert_time}}</td>
    <td class='cartist'>{{concert.artist}}</td>
    <td class='cvenue'>{{concert.venue}}</td>
    <td class='caddress'>{{concert.venue_address}}</td>
    <td class='ccost'>{{concert.cost}}</td>
  </tr>

{{/each}}
